<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Course Name: {{page.title}}</title>
  <!--Set the viewport to handle responsive design-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" media="screen" href="assets/css/screen.css">
  <link rel="stylesheet" media="print" href="assets/css/print.css">

  <!--TODO: html5shiv link w/ IE conditionals-->

</head>
<body>

<article class="container-fluid">

  <header>
    {% include course_header.html %}
  </header>

  <section id="content">
    {{content}}
  </section>

  <aside>
    {% include instructor_info.html %}
  </aside>

  <footer>
    {% include credits_and_license.html %}
  </footer>

<article>

</body>
</html>
